<%- include('layouts/header')%>
      <!-- about start -->
      <div class="container my-5">
            <div class="row aboutus ">
                  <div class="col-11 mx-auto">
                        <div class="row">
                              <div class="col-md-6">
                                    <!-- <h3 class="sm-title">About me</h3> -->
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-md-6">
                                    <img src="/images/arshad.jpeg" alt="about image"
                                          class="img-fluid ab-img">
                              </div>
                              <div class="col-md-6 mt-3">
                                    <h1>I'm <span>Arshad</span></h1>
                                    <h3 class="job">Full Stack Developer</h3>
                                    <!-- <div class="line"></div> -->
                                    <section class="row mt-3">
                                          <h3 class="">Personl Info</h3>
                                          <div class="col-md-12">
                                                <ul>
                                                      <li>
                                                            <strong class="li-h">Name</strong>:
                                                            <span>Syed Arshad</span>
                                                      </li>
                                                      <li>
                                                            <strong class="li-h">Age</strong>:
                                                            <span>19</span>
                                                      </li>
                                                      <li>
                                                            <strong class="li-h">Email</strong>:
                                                            <span>sa067878@gmail.com</span>
                                                      </li>
                                                      <li>
                                                            <strong class="li-h">Adress</strong>:
                                                            <span>India, Hyderabad</span>
                                                      </li>
                                                      <li>
                                                            <strong class="li-h">Website</strong>:
                                                            <span>arshad-portfolio-cs4c.onrender.com</span>
                                                      </li>
                                                </ul>
                                          </div>
                                    </section>
                              <a href="/contact"><button type="button" class="btn btn-danger mt-3">Contact</button></a>

                                    <div class="row">

                                    </div>
                              </div>
                        </div>

                  </div>
                  <!-- <div class="container">
                        <h1 class="text-color text-center" >Skills</h1>
                  </div> -->
            </div>
      </div>
      <!-- about exit -->
      <%- include('layouts/footer') %>