<a href="/dashboard">&larr; Back</a>

<h1>Add New Blog</h1>

<form action="/addBlog" method="Post">
      <label for="blog_title">Blog Title</label>
      <input type="text" placeholder="Blog Title" name="blog_title">
      <label for="blog_body">Blog Body</label>
     <textarea name="blog_body" id="" cols="50" rows="10"></textarea>

     <input type="submit" value="Add">
</form>