<%- include('layouts/header')%>
<!-- contact form  -->
<div class="container py-5">
    <!-- <div class="d-flex justify-fontent-center my-5"> -->
      <h3 class=" text-center">Send <span class="text-color">Message</span></h3>
    <div class="row mx-auto rounded shadow bg-light">
        <div class="col-lg-10 mt-5 mx-auto my-3">
          <form action="/addcontact" method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name"  class="form-control" id="name" placeholder="Enter Your Name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter Your Email">
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <button type="submit" id="conBtn" class="btn btn-danger mb-3 w-50 mx-auto">Submit</button>
        </div>
      </form>  
        <!-- map start -->
        <!-- <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808.592282941551!2d78.45022287433963!3d17.33521020430783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb97de2fb48c73%3A0xca05cb457e7d9c9d!2sCity%20Plaza%20Function%20Hall!5e0!3m2!1sen!2sin!4v1689167791816!5m2!1sen!2sin"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> -->
        <!-- map end -->
    </div>    
    <!-- contact form end -->
<%- include('layouts/footer')%>