<%- include('layouts/header')%>
        <main>
            <section class="firstSection">
                <div class="leftSection">
                    <span>Hi, I'm </span><span class="name"> Arshad</span>
                    <div>and I am a passionate</div>
                    <!-- Element to contain animated typing -->
                    <span id="element"></span>
                    <div class="buttons">
                        <button type="button" class="btn"><a href="/about">About me</a></button>
                        <button type="button" class="btn"><a href="https://github.com/syedarshad7862">Visit Github</a></button>
                    </div>
                </div>
                <div class="rightSection"><img src="images/bg.png"></div>
            </section>
            <hr>
            <section>
                <div class="secondSection">
                    <span class="text-aqua"> What I have completed and</span>
                    <h1>Work Experience</h1>
                    <div class="box">
                        <div class="vertical">
                            <img class="image" src="images/html.png">
                            <div class="t-vertical">
                                HTML5
                            </div>
                            <div class="d-vertical">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam
                                necessitatibus optio fugiat delectus dolore quam magnam, eos
                                voluptate veniam recusandae maiores.
                            </div>
                        </div>
                        <div class="vertical">
                            <img class="image" src="images/css.png">
                            <div class="t-vertical">
                                CSS3
                            </div>
                            <div class="d-vertical">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam
                                necessitatibus optio fugiat delectus dolore quam magnam, eos
                                voluptate veniam recusandae maiores.
                            </div>
                        </div>
                        <div class="vertical">
                            <img class="image" src="images/javascript.png">
                            <div class="t-vertical">
                                JavaScript
                            </div>
                            <div class="d-vertical">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam
                                necessitatibus optio fugiat delectus dolore quam magnam, eos
                                voluptate veniam recusandae maiores.
                            </div>
                        </div>
                        <div class="vertical">
                            <img class="image" src="images/nodejs.png">
                            <div class="t-vertical">
                                Node.js
                            </div>
                            <div class="d-vertical">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam
                                necessitatibus optio fugiat delectus dolore quam magnam, eos
                                voluptate veniam recusandae maiores.
                            </div>
                        </div>
                        <div class="vertical">
                            <img class="image" src="images/expressjs.png">
                            <div class="t-vertical">
                                Express.js
                            </div>
                            <div class="d-vertical">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ullam
                                necessitatibus optio fugiat delectus dolore quam magnam, eos
                                voluptate veniam recusandae maiores.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('layouts/footer')%>