<%- include('layouts/header')%>
<div class="main container text-center py-5">
    <div class="row align-items-center">
      <div class="py-5 text-center">
        <h1><small class="fw-medium">I'm Arshad</small><br>
        </h1>
        <span id="element" class="text-color my-2 w-50"></span><br>
      </div>
      <div class="col-10 mx-auto">
        <h5>"Knowledge Doesn't Come, But You have to go to it."</h5>
      </div>
      <div class="mx-auto">
        <a href="/about"><button type="button" class="btn1">About Me</button></a>
        <a href="https://github.com/syedarshad7862"><button type="button" class="btn2">Github</button></a>
        <!-- <button type="button" class="btn btn-primary">Github</button> -->
      </div>
    </div>
  </div>
        <%- include('layouts/footer')%>